/.DS_Store
/package-lock.json

# Node modules
node_modules/
extensions/registry/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Env
.env
.env.*

# Directus uploads
uploads/

# Optional: Ignore build output
dist/
build/

# Optional: Ignore coverage
coverage/

# Optional: Ignore local VSCode settings
.vscode/
node_modules/lodash/_arrayIncludesWith.js
